{% include "module-header" %}

# Synopsis

`$ npx devkeeper-docs readme`

Build opinionated VuePress

`$ npx devkeeper-docs vuepress`

# Details

## README

`$ npx devkeeper-docs readme`

* Creates `README.md` from `README.njk` nunjucks template using `readmeasy`.
* If there is no `README.njk` template, creates one.
* Adds header with `{{ '{% include "module-header" %}' }}` (name, description table of contents, badges). See [`readmeasy`](https://www.npmjs.com/package/readmeasy) for details.
* Adds API documentation with `{{ '{% include "api.md" %}' }}` using [`TypeDoc`](https://typedoc.org/).
* Adds [`oclif`](https://oclif.io/) CLI tool README parts if `oclif` is used in project.

## VuePress

`$ npx devkeeper-docs vuepress`

Builds VuePress. We suggest you to use [`vuepress-bar`](https://www.npmjs.com/package/vuepress-bar) to easily create VuePress sidabar and top menu.

# CLI

<!-- usage -->

<!-- commands -->
