{% include "module-header" %}

# Synopsis

`$ npx devkeeper-docs readme`

`$ npx devkeeper-docs vuepress`

# Details

CLI to generate README and VuePress. It may be used in CI/CD such as GitHub actions.

<!-- usage -->

<!-- commands -->
